body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    height: 100vh;
    margin: 0;
    font-family: Arial, Arial, Helvetica, sans-serif;
    flex-direction: column;
}

main {
    box-shadow: 
    0px 0px 10px -3px rgb(70, 70, 70);
    display: flex;
    border-radius: 10px;
}

.banner1 {
    background-color: white;
    border: 0px;
    border-start-start-radius: 10px;
    border-end-start-radius: 10px;
    min-width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h3 {
    margin: 0;
    font-weight: 800; 
    font-size: 1.9rem;
}
h2 {
    font-weight: bold; 
    font-size: 1.1rem; 
    margin: 0; 
    margin-bottom: 10px;
}

a{
    color: salmon; 
    text-decoration: none;
}

.banner2 {
    background-color: salmon;
    border: 1px solid salmon;
    border-end-end-radius: 10px;
    border-start-end-radius: 10px;
    min-width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.banner1 form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.criar-conta {
    margin-inline: 30px;
    color: white;
    text-align: center;
}

.icones {
    margin: 20px auto 20px auto;
    color: rgb(61, 61, 61);
    display: flex;
    column-gap: 15px;
    user-select: none;
    -webkit-user-select: none;
}


#user {
    position: absolute;
    left: 0%;
    top:  0%;
    color: white;
    background-color: salmon;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 18px;
    width: 14px;
    user-select: none;
    -webkit-user-select: none;
}

#lock {
    position: absolute;
    left: 0%;
    top: 50%;
    color: white;
    background-color: salmon;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 18px;
    width: 14px;
    user-select: none;
    -webkit-user-select: none;
}

input {
    font-size: 12px;
    width: 234px;
    border-radius: 5px;
    border: 0px;
    background-color: rgb(255, 255, 255);
    height: 24px;
    text-indent: 25px;
    margin-bottom: 10px;
    box-shadow: inset 2px 2px 8px rgb(197, 197, 197);
}

input:focus {
    border: 0px;
    outline: none;
}

p {
    margin: 5px;
}

i {
    padding: 4px;
    border-radius: 20px;
}

#btnFacebook, #btnGoogle, #btnEnvelope
{
    border-radius: 50%;
    color: rgb(44, 44, 44);
    border: 0px;
    background-color: rgb(239, 239, 239);
    height: 117%;
}

#btnFacebook:hover, #btnGoogle:hover, #btnEnvelope:hover
{
    background-color: rgb(225, 225, 225);
}

#btnLogin {
    margin-top: 15px;
    padding: 10px;
    width: 100px;
    border-radius: 20px;
    border: 0px;
    background-color: salmon;
    color: white;
    font-weight: bold;
}

#btnLogin:hover {
    background-color: rgb(224, 128, 117);

}

#btnCreate {
    margin-top: 15px;
    padding: 10px;
    width: 100px;
    border-radius: 20px;
    border: 0px;
    background-color: white;
    color: salmon;
    font-weight: bold;
}

#btnCreate:hover {
    background-color: rgb(231, 231, 231);

}


/* Media query para telas pequenas */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .banner2 {
        height: 150px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .banner1 {
        min-width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        height: 350px;
        min-width: 200px;
    }

    #btnCreate {
        margin-top: 0px;
    }


}